<html>
<head th:replace="layouts/header::header">

</head>
<body>

	<div th:replace="layouts/menu::menu">Menu Didnt Load</div>
	<div class="pusher">
		<div th:replace="layouts/nav::nav"></div>

              
              <div class="ui container form-title">
              Add new news
              </div>
              <div class="ui container admin-form">
              
           
                

                     <div class="row">
                     	<div th:replace="layouts/adminmenu::adminmenu">
                     	</div>
                     	
                     	<div class="col-md-9">
                     	
                     	 
                     	
                     	</div>
                     </div>


               </div>
               
             
              
              
              
              
          

		<div th:replace="layouts/footer::footer"></div>
	</div>
</body>
</html>

 