<html>
<head th:replace="layouts/header::header">

</head>
<body>

	<div th:replace="layouts/menu::menu">Menu Didnt Load</div>
	<div class="pusher">
		<div th:replace="layouts/nav::nav"></div>

              
              <div class="ui container form-title">
              Add new University
              </div>
              
              <div class="ui container admin-form">
              
           
                

                     <div class="row">
                     	<div th:replace="layouts/adminmenu::adminmenu">
                     	</div>
                     	
                     	<div class="col-md-9">
                     	 <div th:text="${message}" class="alert alert-success"></div>
                     	 <form action="" style="max-width:600px;margin-left: 10px;margin-right: 10px;" method="post">

							<div class="form-group">
								<label for="usr">University name:</label> <input type="text"
									class="form-control"  name="name" th:value="${university.getName()}"/>
							</div>

							<div class="form-group">
								<label for="comment">Description:</label>
								<textarea class="form-control" name="body" rows="5" id="comment" th:text="${university.getBody()}"></textarea>
							</div>
							<div class="form-group">
								<label for="comment">Other info:</label>
								<textarea class="form-control" name="otherinfo" rows="5" id="otherinfo" th:text="${university.getOtherinfo()}" ></textarea>
							</div>
							<div class="form-group">
								<label for="usr">Division:</label> <input type="text"
									class="form-control"  name="divison" th:value="${university.getDivision()}"/>
							</div>
							<div class="form-group">
								<label for="usr">credit fee:</label> <input type="text"
									class="form-control"  name="fees" th:value="${university.getFee()}"/>
							</div>
							<div class="form-group">
								<label for="usr">Address:</label> <input type="text"
									class="form-control"  name="address" th:value="${university.getAddress()}"/>
							</div>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
							<input type="submit" class="ui primary button" value="save"/>

						</form>
                     	
                     	</div>
                     </div>


               </div>
               
             
              
              
              
              
          

		<div th:replace="layouts/footer::footer"></div>
	</div>
</body>
</html>