@import
	url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Poiret+One')
	;

@import
	url('https://fonts.googleapis.com/css?family=Josefin+Slab:600i,700');
	@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #f4f7f6;
	font-family: 'Josefin Slab', serif;
}

h1, h2, h3, h4, h5, h6, div, p, span {
	font-family: 'Lobster Two', cursive;
	font-family: 'Lobster', cursive;
	font-family: 'Poiret One', cursive;
	font-family: 'Josefin Slab', serif;
}

.f1
{
	font-family: 'Lobster Two', cursive;
}
.f2
{
	font-family: 'Lobster', cursive;
}
.f3
{
	font-family: 'Poiret One', cursive;
}
.f4
{
	font-family: 'Josefin Slab', serif;
}
.f5
{
	font-family: 'Roboto', sans-serif;
}
h2 {
	color: #ff6923;
}

.rf-nav {
	text-align: center;
	padding: 20px;
	font-size: 20px;
	border: 1px solid #e6e6e6;

}
.title
{
	font-family: 'Lobster', cursive;
	color: #ff6923;
}
.tleft
{
	text-align:left;
}
.tright
{
	text-align:right;
}
.menu-call-btn
{
	font-family: 'Lobster', cursive;
	border-right: 1px solid #e6e6e6;
}
.menu-call-btn:hover
{
	color: #ff6923;
	cursor:pointer;
}
.search-btn
{
	margin-left:30px;
}
.search-btn:hover
{
	cursor:pointer;
	color: #ff6923;
}
.rf-search
{
	display:none;
	text-align:center;
	max-width:520px;
	margin:auto;
	background-color: white;
padding: 30px;
}
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
.topmar-5
{
	margin-top:5px;
}
.topmar-10
{
	margin-top:10px;
}
.topmar-20
{
	margin-top:20px;
}
.topmar-100
{
	margin-top:100px;
}
.botmar-10
{
	margin-bottom:10px;
}
.botmar-50
{
	margin-bottom:50px;
}
.range-slider-container
{
	max-width:300px;
	margin:auto;
	margin-top:10px;
	margin-bottom:20px;
}
.hide-search
{
	color:#8879c4;
	cursor:pointer;
	text-decoration:underline;
}
.center
{
	text-align:center;
}
body.pushable > .pusher
{
	background-color: #f4f7f6;
}

.admin-form
{
	
	padding-top:50px;
	padding-bottom:50px;
	background:white;
	margin-bottom:50px;

border-bottom: 3px solid gray;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
}
.admin-menu-container
{

    margin-left: 17px;
}
.admin-menu-container a
{
	color: #FFF;
text-decoration: none;
display: inherit;
width: 300px;
width: 200px;
background-color: #21bcab;
display: inline-block;
text-align: center;
padding: 15px;
cursor:pointer;
}
.admin-menu-container a:hover
{
	background-color:  	#21d1bd;
}
.form-title
{
	padding: 10px;
margin-top: 60px;
background-color: white;
border: 2px solid gray;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
	
}
.rf-block
{
	width: 23%;
    display: inline-block;
    margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
}
.rf-block-container
{
	border: 1px solid gray;
}
.home-back
{
	width:100%;
	height:600px;
	background-image: url("../img/backimages.jpeg");
}
.text-with-background
{
	margin:auto;
	text-align: center;
	padding-top:100px;
	font-size: 44px;
color: white;
	
}
.card-text
{
	text-align:justify;
	padding:10px;
}
.paragraph
{
	font-size: 18px;
text-align: justify;
line-height: 1.5;
}
.footerp2
{
	color:white;
	padding: 15px;
    background-color: #f57134;
}
.fixed-bar
{
	
}