<html>
	<head th:replace="layouts/header::header"></head>

<body>

  <div th:replace="layouts/menu::menu">Menu Didnt Load</div>
	<div class="pusher">
		<div th:replace="layouts/nav::nav"></div>


             <div class="ui container" style="margin-top:100px;text-align: center;"> <h2 style="font-size: 45px;">Page not found</h2></div>
             <div class="ui container " style="text-align:center"> <img th:src="@{/img/deadshot.png}" style="height: 300px;"/></div>

		<div th:replace="layouts/footer::footer"></div>
	</div>

</body>


	
</html>