<html>
<head th:replace="layouts/header::header"></head>

<body>

	<div th:replace="layouts/menu::menu">Menu Didnt Load</div>
	<div class="pusher">
		<div th:replace="layouts/nav::nav"></div>
		<script src="/js/typed.min.js"></script>
		<div class="home-back">
			<div class="text-with-background"></div>
			<script>
              var typed = new Typed('.text-with-background', {
            	  strings: ["","First sentence.", "Second sentence.","Third sentense"],
            	  typeSpeed: 60,
            	  backSpeed: 10,
            	  showCursor:false,
            	  loop:true
            	});
              </script>

		</div>
		<div class="container center topmar-100">
		   <h2 class="f1 botmar-50">Who are we ?</h2>
		    <div class="f5 paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
				elit. Ut non justo erat. Etiam sollicit udin id turpis sed interdum.
				Aenean sodales at sapien in facilisis. Praesent malesuada imperdiet
				metus quis gravida. Duis augue orci, feugiat at justo a, interdum
				varius elit. Aliquam sollicitudin massa ligula, vitae aliquet tellus
				dictum eu. Nulla consectetu r pharetra ullamcorper. Fusce bibendum
				tincidunt quam, a egestas elit vehicula non. Nulla hendrerit est in
				cur sus placerat. Mauris aliquet porttitor vehicula.</div>
		</div>
		<div class="container center  topmar-100">
			<h2 class="f1 botmar-50">Top Universities</h2>
			<div class="row">
				<div class="col-md-4">


					<div class="ui card">
						<div class="content">
							<div class="header">BRAC University</div>
						</div>
						<div class="content">
							<h4 class="ui sub header">Description</h4>
							<div class="ui small feed">
								<div class="card-text">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis seLorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis se</div>


							</div>
						</div>
						<div class="extra content">
							<a class="ui button">View</a>
						</div>
					</div>



				</div>
				<div class="col-md-4">


					<div class="ui card">
						<div class="content">
							<div class="header">BRAC University</div>
						</div>
						<div class="content">
							<h4 class="ui sub header">Description</h4>
							<div class="ui small feed">
								<div class="card-text">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis seLorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis se</div>


							</div>
						</div>
						<div class="extra content">
							<a class="ui button">View</a>
						</div>
					</div>




				</div>
				<div class="col-md-4">

					<div class="ui card">
						<div class="content">
							<div class="header">BRAC University</div>
						</div>
						<div class="content">
							<h4 class="ui sub header">Description</h4>
							<div class="ui small feed">
								<div class="card-text">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis seLorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis se</div>


							</div>
						</div>
						<div class="extra content">
							<a class="ui button">View</a>
						</div>
					</div>




				</div>
			</div>
		</div>

		<div class="container center topmar-100">
			<h2 class="f1 botmar-50">Latest university newses</h2>
			<div class="row">
				<div class="col-md-4">


					<div class="ui card">
						<div class="content">
							<div class="header">BRAC University</div>
						</div>
						<div class="content">
							<h4 class="ui sub header">Description</h4>
							<div class="ui small feed">
								<div class="card-text">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis seLorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis se</div>


							</div>
						</div>
						<div class="extra content">
							<a class="ui button">View</a>
						</div>
					</div>



				</div>
				<div class="col-md-4">


					<div class="ui card">
						<div class="content">
							<div class="header">BRAC University</div>
						</div>
						<div class="content">
							<h4 class="ui sub header">Description</h4>
							<div class="ui small feed">
								<div class="card-text">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis seLorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis se</div>


							</div>
						</div>
						<div class="extra content">
							<a class="ui button">View</a>
						</div>
					</div>




				</div>
				<div class="col-md-4">

					<div class="ui card">
						<div class="content">
							<div class="header">BRAC University</div>
						</div>
						<div class="content">
							<h4 class="ui sub header">Description</h4>
							<div class="ui small feed">
								<div class="card-text">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis seLorem ipsum dolor sit amet,
									consectetur adipiscing elit. Ut non justo erat. Etiam
									sollicitudin id turpis se</div>


							</div>
						</div>
						<div class="extra content">
							<a class="ui button">View</a>
						</div>
					</div>




				</div>
			</div>
		</div>
      
        <div class="topmar-100">
        </div >
        

		<div th:replace="layouts/footer::footer"></div>
	</div>

</body>



</html>