<!DOCTYPE html>
<html>
<head th:replace="layouts/header::header">

</head>
<body>

	<div th:replace="layouts/menu::menu">Menu Didnt Load</div>
	<div class="pusher">
		<div th:replace="layouts/nav::nav"></div>
		 <div> 
		  <div class="ui modal">
  <div class="header">Header</div>
</div>
		 </div>
              <div id="map" style="width:100%;height:500px"></div>
		

		<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyDwgAZ77X8MEEPKd6kAsGridYtSZwBtUcw}"></script>
		<script>

			$(document).ready(function(){
				var myCenter = new google.maps.LatLng(23.7802, 90.4072);
				var mapCanvas = document.getElementById("map");
				var mapOptions = {
					center : myCenter,
					zoom : 18
				};
				var map = new google.maps.Map(mapCanvas, mapOptions);
				var marker = new google.maps.Marker({
					position : myCenter
				});
				marker.setMap(map);
				
				
			});
				
			
		</script>
		<div th:text="${uni}" class="ui container">Hey</div>

		<div class="container center topmar-100">
			<h2 class="f1 botmar-50">Brac University</h2>
			<div class="f5 paragraph">Lorem ipsum dolor sit amet,
				consectetur adipiscing elit. Ut non justo erat. Etiam sollicit udin
				id turpis sed interdum. Aenean sodales at sapien in facilisis.
				Praesent malesuada imperdiet metus quis gravida. Duis augue orci,
				feugiat at justo a, interdum varius elit. Aliquam sollicitudin massa
				ligula, vitae aliquet tellus dictum eu. Nulla consectetu r pharetra
				ullamcorper. Fusce bibendum tincidunt quam, a egestas elit vehicula
				non. Nulla hendrerit est in cur sus placerat. Mauris aliquet
				porttitor vehicula.
			</div>
		 </div>	
			<div>
				<a class="ui primary button">Visit official website</a>
			</div>

		


		<div th:replace="layouts/footer::footer"></div>
	</div>
</body>
</html>